<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174635148214-ntjj20nsvrigo34cdgmk1ovfr8np30p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174635148214-ntjj20nsvrigo34cdgmk1ovfr8np30p1</string>
	<key>API_KEY</key>
	<string>AIzaSyAUEMooSTdgQbr8IolEp76jJgruv7b5-Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>174635148214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>project1-af690</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-af690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174635148214:ios:26225c593e106b635f1717</string>
</dict>
</plist>